.codeEditor {
 width: 100%;
 height: 100%;
 position: relative;
 overflow: auto;
 font-size: inherit;
 line-height: inherit;
 font-family: inherit;
 color: white;
}
.codeEditor.dark {
 background: rgb(0,0,0,.9);
 color: white;
}
.codeEditor.light {
 background: transparent;
 color: black;
}
.codeEditor pre {
 position: relative;
 display: flex;
 align-items: stretch;
 justify-content: center;
 box-sizing: content-box !important;
 margin: 0 auto !important;
 padding: 0 !important;
 color: inherit !important;
 overflow: auto;
}
.codeEditor pre, .codeEditor pre * {
 margin: 0;
 padding: 0;
 border: none;
 font-size: inherit !important;
 font-family: inherit !important;
 line-height: inherit !important;
 box-sizing: content-box !important;
 word-wrap: break-word;
 white-space: pre-wrap;
} 
.codeEditor pre .input {
 width: 100%;
 color: inherit;
 cursor: text;
}
.codeEditor pre .cursor {
 position: absolute;
 top: 0!important;
 width: 100%;
 height: 100%;
 z-index: 1;
 background: transparent;
 color: transparent !important;
 resize: none;
}
.codeEditor.dark pre .cursor {
 caret-color: white;
}
.codeEditor.light pre .cursor {
 caret-color: black;
}
.codeEditor pre .syntax {
 width: 100%;
 display: block;
}
.codeEditor pre .syntax * {
 font-size: inherit !important;
 font-weight: inherit !important;
 font-family: inherit !important;
 line-height: inherit;
 margin: 0;
 padding: 0;
}
.codeEditor.dark pre .cursor::selection {
 /*color: transparent!important;*/
 color: white;
 background: rgba(0,105,255,.23);
}
.codeEditor.lighy pre .cursor::selection {
 /*color: transparent!important;*/
 color: black;
 background: rgba(0,105,255,.13);
}
.codeEditor.dark pre .syntax attr {
 color: violet;
}
.codeEditor.dark pre .syntax tag {
 color: skyblue !important;
}
.codeEditor.dark pre .syntax close {
 color: white !important;
}
.codeEditor.dark pre .syntax qoute {
 color: lightgreen !important;
}
.codeEditor.dark pre .syntax build, .codeEditor.dark pre .syntax property {
 color: orange;
}
.codeEditor.dark pre .syntax comment {
 color: lightgrey;
}
.codeEditor.dark pre .syntax js {
 color: inherit;
}
.codeEditor.dark pre .syntax keyword {
 color: violet;
}
.codeEditor.dark pre .syntax numberBasic {
 color: lightblue;
}
.codeEditor.dark pre .syntax type, .codeEditor.dark pre .syntax type1 {
 color: lightgreen;
}
.codeEditor.dark pre .syntax define {
 color: orange;
}
.codeEditor.dark pre .syntax regex {
 color: yellow;
}
.codeEditor.dark pre .syntax rg {
 color: rgb(255,90,0);
}
.codeEditor.dark pre .syntax ednreg {
 color: lightblue;
}
.codeEditor.dark pre .syntax bracket {
 color: inherit;
}
.codeEditor.dark pre .syntax at {
 color: green;
}
.codeEditor.dark pre .syntax value {
 color: violet;
}
.codeEditor.dark pre .syntax not {
 color: gold;
}

.codeEditor.dark pre .syntax prop {
 color: #0080ff;
}
.codeEditor.dark pre .syntax operation, .codeEditor.dark pre .syntax hex {
 color: tomato;
}
.codeEditor.dark pre .syntax hex * {
 color: inherit !important 
 ;
}
.codeEditor.dark pre .syntax type {
 color: lightgreen;
}
.codeEditor.dark pre .syntax color {
 color: pink;
}

/*Lights mode*/

.codeEditor.light pre .syntax attr {
 color: green;
}
.codeEditor.light pre .syntax tag {
 color: darkred !important;
}
.codeEditor.light pre .syntax close {
 color: grey !important;
}
.codeEditor.light pre .syntax qoute {
 color: blue !important;
}
.codeEditor.light pre .syntax build {
 color: grey;
}
.codeEditor.light pre .syntax property {
 color: blue;
}
.codeEditor.light pre .syntax comment {
 color: green;
}
.codeEditor.light pre .syntax js {
 color: inherit;
}
.codeEditor.light pre .syntax keyword {
 color: purple;
}
.codeEditor.light pre .syntax numberBasic {
 color: blue;
}
.codeEditor.light pre .syntax type, .codeEditor.light pre .syntax type1 {
 color: lightgreen;
}
.codeEditor.light pre .syntax define {
 color: orange;
}
.codeEditor.light pre .syntax regex {
 color: mediumseagreen;
}
.codeEditor.light pre .syntax rg {
 color: rgb(38,50,56);
}
.codeEditor.light pre .syntax ednreg {
 color: tomato;
}
.codeEditor.light pre .syntax bracket {
 color: inherit;
}
.codeEditor.light pre .syntax at {
 color: dodgerblue;
}
.codeEditor.light pre .syntax value {
 color: purple;
}
.codeEditor.light pre .syntax not {
 color: darkred;
}

.codeEditor.light pre .syntax prop {
 color: darkblue;
}
.codeEditor.light pre .syntax operation, .codeEditor.light pre .syntax hex {
 color: tomato;
}
.codeEditor.light pre .syntax hex * {
 color: inherit !important 
 ;
}
.codeEditor.light pre .syntax type {
 color: dodgerblue;
}

.codeEditor.light pre .syntax color {
 color: darkorange;
}









/*do not change it.*/
.codeEditor.light pre .syntax paran, .codeEditor.light pre .syntax u_ {
 color: black;
}
.codeEditor.dark pre .syntax paran, .codeEditor.dark pre .syntax u_ {
 color: white;
} 
